{% extends 'clubcell/base_up.html' %}
{% load static %}
{% block content %}
<style>
.notify-badge{
    position: absolute;
    top:10px;
    background:green;
    text-align: center;
    border-radius: 30px 30px 30px 30px;
    color:white;
    padding:5px 10px;
    font-size:20px;
}
</style>

<div class="features-boxed">
        <div class="container">
            <center>
            <div class="intro" style="max-width: 892px;">
                    <h1 class="text-center">Welcome {{user.first_name}} {{user.last_name}}</h1>
            </div></center>
            <div class="filtr-controls"><span  data-filter="all" onclick="window.location.href='{{path}}/student/profile'">Your Profile</span>
                <span  data-filter="1" onclick="window.location.href='{{path}}/student/explore'">Explore</span>
<!--                <span data-filter="2">Recommended</span>-->
                <span class="active" data-filter="3" onclick="window.location.href='{{path}}/student/posts'">Posts</span>
<!--                <span data-filter="3">Trending</span><span data-filter="3">Top list</span></div>-->


        </div>
    </div>



<style>

form:hover {
          background-color: #F8F8F8;


        }
</style>

{% endblock %}