{% load static %}
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>login</title>
    <link rel="stylesheet" href='{% static "assets/bootstrap/css/bootstrap.min.css" %}'>
    <link rel="stylesheet" href='{% static "assets/fonts/ionicons.min.css" %}'>
    <link rel="stylesheet" href='{% static "assets/css/Footer-Dark.css" %}'>
    <link rel="stylesheet" href='{% static "assets/css/Login-Form-Dark.css" %}'>
    <link rel="stylesheet" href='{% static "assets/css/Navigation-with-Button.css" %}'>
    <link rel="stylesheet" href='{% static "assets/css/styles.css" %}'>
    <link rel="stylesheet" href="{% static 'assets/css/Features-Boxed-Remixed-3.css' %}">
     <link rel="stylesheet" href="{% static 'assets/css/Button-Outline-Success.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Filterable-Gallery-with-Lightbox.css' %}">

     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>




</head>

<body>
    <div>
        <nav class="navbar navbar-light navbar-expand-md bg-dark navigation-clean-button">
            <div class="container"><a class="navbar-brand text-light" href="#">AddCell</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse"
                    id="navcol-1">
                    <ul class="nav navbar-nav mr-auto">
                        <li class="nav-item" role="presentation"><a class="nav-link active text-light" href="#">Home</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link text-light" href="#">About AddCell</a></li>
                        <li class="dropdown nav-item"><a class="dropdown-toggle nav-link text-light" data-toggle="dropdown" aria-expanded="false" href="#">More</a>
                            <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="#">Help</a><a class="dropdown-item" role="presentation" href="#">Give feedback</a><a class="dropdown-item" role="presentation" href="#">Contact us</a></div>
                        </li>
                        </ul>

    {% block content %}

    {% endblock %}

    <div class="footer-dark" >
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Services</h3>
                        <ul>
                            <li><a href="#">Web design</a></li>
                            <li><a href="#">Development</a></li>
                            <li><a href="#">Hosting</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <h3>About</h3>
                        <ul>
                            <li><a href="#">Company</a></li>
                            <li><a href="#">Team</a></li>
                            <li><a href="#">Careers</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 item text">
                        <h3>Company Name</h3>
                        <p>Praesent sed lobortis mi. Suspendisse vel placerat ligula. Vivamus ac sem lacus. Ut vehicula rhoncus elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit pulvinar dictum vel in justo.</p>
                    </div>
                    <div class="col item social"><a href="https://www.facebook.com/addcell.in"><i class="icon ion-social-facebook"></i></a><a href="https://twitter.com/addcell_in"><i class="icon ion-social-twitter"></i></a><a href="https://www.snapchat.com/add/addcell.in"><i class="icon ion-social-snapchat"></i></a><a href="https://www.instagram.com/addcell.in"><i class="icon ion-social-instagram"></i></a></div>
                </div>
                <p class="copyright">AddCell.in © 2019</p>
            </div>
        </footer>
    </div>
   </body>

</html>