<div id="queryNo{{query.pk}}" >
                    <div style="margin-top:2rem;">
                        <span><img class="rounded-circle mr-2" src="{{ query.user.details.profile_pic.thumbnail.30x30 }}" width="30px" height="30px" style="display:inline-block;"><b>{{query.user.username}}</b></span><br>
                        <div style="margin-left:1rem;">
                            {{query.query}}

                            <span style="float:right;"><a onclick="replyto('{{query.pk}}','{{query.pk}}-{{query.user.pk}}', '{{query.user}}')" href="#askquery"><u>Reply</u></a></span>
                       {% if query.user == user %}
                                 <span style="cursor: pointer;float:right; display:inline-block;margin-right:1rem;"><a onclick="dlt_query('{{event.event_uen}}','{{query.pk}}')" ><font color="Red"><u>Delete</u></font></a></span>
                            {% endif %}

                        </div>
                    </div>
    <div id="reply{{query.pk}}"></div>

                                </div>
                            </div>