
<style>
    .container{max-width:1170px; margin:auto;}
img{ max-width:100%;}
.inbox_people {
  background: #f8f8f8 none repeat scroll 0 0;
  float: left;
  overflow: hidden;
  width: 40%; border-right:1px solid #c4c4c4;
}
.inbox_msg {
  border: 1px solid #c4c4c4;
  clear: both;
  overflow: hidden;
}
.top_spac{ margin: 20px 0 0;}


.recent_heading {float: left; width:40%;}
.srch_bar {
  display: inline-block;
  text-align: right;
  width: 60%; padding:
}
.headind_srch{ padding:10px 29px 10px 20px; overflow:hidden; border-bottom:1px solid #c4c4c4;}

.recent_heading h4 {
  color: #05728f;
  font-size: 21px;
  margin: auto;
}
.srch_bar input{ border:1px solid #cdcdcd; border-width:0 0 1px 0; width:80%; padding:2px 0 4px 6px; background:none;}
.srch_bar .input-group-addon button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  padding: 0;
  color: #707070;
  font-size: 18px;
}
.srch_bar .input-group-addon { margin: 0 0 0 -27px;}

.chat_ib h5{ font-size:15px; color:#464646; margin:0 0 8px 0;}
.chat_ib h5 span{ font-size:13px; float:right;}
.chat_ib p{ font-size:14px; color:#989898; margin:auto}
.chat_img {
  float: left;
  width: 11%;
}
.chat_ib {
  float: left;
  padding: 0 0 0 15px;
  width: 88%;
}

.chat_people{ overflow:hidden; clear:both;}
.chat_list {
  border-bottom: 1px solid #c4c4c4;
  margin: 0;
  padding: 18px 16px 10px;
}
.inbox_chat { height: 550px; overflow-y: scroll;}

.active_chat{ background:#ebebeb;}

.incoming_msg_img {
  display: inline-block;
  width: 6%;
}
.received_msg {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 92%;
 }
 .received_withd_msg p {
  background: #ebebeb none repeat scroll 0 0;
  border-radius: 3px;
  color: #646464;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;
}
.time_date {
  color: #747474;
  display: block;
  font-size: 12px;
  margin: 8px 0 0;
}
.received_withd_msg { width: 57%;}
.mesgs {
  float: left;
  padding: 30px 15px 0 25px;
  width: 60%;
}

 .sent_msg p {
  background: #05728f none repeat scroll 0 0;
  border-radius: 3px;
  font-size: 14px;
  margin: 0; color:#fff;
  padding: 5px 10px 5px 12px;
  width:100%;
}
.outgoing_msg{ overflow:hidden; margin:26px 0 26px;}
.sent_msg {
  float: right;
  width: 46%;
}
.input_msg_write input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #4c4c4c;
  font-size: 15px;
  min-height: 48px;
  width: 100%;
}

.type_msg {border-top: 1px solid #c4c4c4;position: relative;}
.msg_send_btn {
  background: #05728f none repeat scroll 0 0;
  border: medium none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  height: 33px;
  position: absolute;
  right: 0;
  top: 11px;
  width: 33px;
}
.messaging { padding: 0 0 50px 0;}
.msg_history {
  height: 516px;
  overflow-y: auto;
}
</style>


<script>
    var chat_again = 0; // to make not to load same chat again when scroll top
   var get_new_message;
  var active_user='';
  function load_chat(user,id){
            active_user=user;
            if (id != "nope"){
            $('#msg_history_box').html('<centre>Loading '+user+' messages...</centre>');
            $(".chat_list").removeClass("active_chat");
                 $("#msg"+id).addClass("active_chat");}
        $.ajax({
            type: "POST",
            url: "{% url 'load chat' %}",
            data: {'second_user': user,
                    'mstart': 0,
                    'mend': 12,
                    'uen': "{{uen}}",
                    'show': 'all',
             'csrfmiddlewaretoken': '{{ csrf_token }}'},
            success : function(data) {
                 $('#msg_history_box').html(data);
                 $('#msg_history_box').append('<div class="d-flex justify-content-start mb-4"  id="typing"></div>');
                 var elem = document.getElementById('msg_history_box');
                  elem.scrollTop = elem.scrollHeight;


             }
                });
                 chat_again = 0;
                            }

  function post_chat(){
        var msg_text = document.getElementById("msg_input_box").value;
        document.getElementById("msg_input_box").value=''
        $.ajax({
            type: "POST",
            url: "{% url 'post new msg club' %}",
            data: {'second_user': active_user,
                    'event_to': "{{uen}}",
                    'message': msg_text,
             'csrfmiddlewaretoken': '{{ csrf_token }}'},
            success : function(data) {
                 $('#typing').remove();
                 $('#msg_history_box').append(data);
				document.getElementById('msg_history_box').innerHTML += '<div class="incoming_msg"  id="typing"></div>';
				var element = document.getElementById("msg_history_box");
				element.scrollTop = element.scrollHeight;


             }
                });


                            }
</script>



<div class="messaging">
      <div class="inbox_msg">
        <div class="inbox_people">
          <div class="headind_srch">
            <div class="recent_heading">
              <h4>Recent</h4>
            </div>
            <div class="srch_bar">
              <div class="stylish-input-group">
<!--                <input type="text" class="search-bar"  placeholder="Search" >-->
<!--                <span class="input-group-addon">-->
<!--                <button type="button"> <i class="fa fa-search" aria-hidden="true"></i> </button>-->
<!--                </span> -->
              </div>
            </div>
          </div>
          <div class="inbox_chat" id="inbox_chat">

            {% for message in messages.messages %}

            <div class="chat_list"  id="msg{{message.pk}}" style="text-overflow: ellipsis;overflow:hidden;height:5.4em; cursor:pointer;">
              <div class="chat_people" >
                {% if message.user == user %}
                <div onclick="load_chat('{{message.second_user.username}}','{{message.pk}}')">
                <div class="chat_img"> <img class="rounded-circle" src="{{ message.second_user.details.profile_pic.thumbnail.30x30 }}" alt="{{message.second_user.first_name}}"> </div>
                <div class="chat_ib">
                  <h5>{{message.second_user.username}}<span class="chat_date">{{message.time_old.0}}</span></h5>
                  <p>{{message.message_in}}</p>
                </div>
                </div>
                {% else %}
                <div onclick="load_chat('{{message.user.username}}' ,'{{message.pk}}')">
                <div class="chat_img"> <img class="rounded-circle" src="{{ message.user.details.profile_pic.thumbnail.30x30 }}" alt="{{message.user.first_name}}"> </div>
                <div class="chat_ib">
                  <h5>{{message.user.username}}<span class="chat_date">{{message.time_old.0}}</span></h5>
                  <p> {% if message.seen == False %}<b style="color:black;">{% endif %}{{message.message_in}} {% if message.seen == False %}</b>{% endif %}</p>
                </div>
                </div>
                {% endif %}


              </div>
            </div>

           {% endfor %}
          </div>
        </div>
        <div class="mesgs">
          <div class="msg_history" id="msg_history_box">
<!--          this is replaced by ajax html messages-->

          </div>
          <div class="type_msg">
            <div class="input_msg_write">
              <input type="text" id="msg_input_box" class="write_msg" placeholder="Type a message" />
              <button class="msg_send_btn" type="button" onclick="post_chat()"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
            </div>
              <script>
                $("#msg_input_box").keypress(function (e) {
                if(e.which == 13 && !e.shiftKey) {
                    post_chat();
                    e.preventDefault();
                        }
                    });
              </script>
          </div>
        </div>
      </div>



    </div>



<script>

  {% if messages.first.user == user %}
  load_chat("{{messages.first.second_user.username}}","nope");
  {% else %}
  load_chat("{{messages.first.user.username}}", "nope");
  {% endif %}
  $(".inbox_chat :first").addClass("active_chat");




</script>