{% load static %}
{% for event in events %}

                <div class="col-sm-12 col-md-6 col-lg-4">
                <form class="col-sm-12 col-md-12 col-lg-12" >

                <div  id="dibba"   style="margin-bottom: 2em; margin-left: 1em;box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12); ">

                    <div class="box" id="box"   style="background-color: #f2f2f2;opacity: 1; border: 1px solid #e0ebeb;">
                        <div class="image-box"  ><img class="box-image img-responsive" src='{% static ""%}event.jpg'>{% if event.events.paid == False %}<span class="notify-badge">free</span>{% endif %}</div>
                        <div class="text-left info-box"   >
                            <div onclick="window.location.href='{{path}}/event/{{event.events.event_uen}}'" style="cursor:pointer;">
                            <h3 class="text-center name" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{event.events.eventname}}</h3>
                            <p class="description" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{event.events.breif_about}}|</p>
                            <p class="description">Date: {{event.events.heldon}}<br>fee: {{event.events.fee}}<br>Type: {{event.events.get_eventtype_display}}<br>Duty leave: {{event.events.dl|yesno}}</p>
                            </div >
                                 </div>
                    </div>
                </div>
                </form></div>

                {% endfor %}